doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        title IFB299 Package Delivery
    body
        .header
            h1.page-title IFB299 Package Delivery

        ul.nav
            li: a(href='/') Home
            li: a(href='#news') News
            li: a(href='#about') About
            li: a(href='#contact') Contact

        .main-content
            block content

        .footer
            p Copyright © 2016 Shaun Karran
